/* Existing styles for * and *::after and *::before */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Existing styles for html and body */
html,
body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
